.sign-up-section {
    margin-top: 23px;
    padding: 20px;
    text-align: center;
}

.sign-up-section {
    padding-top: 28px;
    padding-bottom: 60px;
}

.sign-up-section h4 {
    font-family: 'Inter', sans-serif;
    font-size: 31px;
    font-weight: 800;
    color: #222;
    margin-bottom: 10px;
}

.explore-p {
    font-size: 14px;
    font-weight: 500;
    color: #525252;
    margin-bottom: 20px;
}

.sign-up {
    background-color: #fff;
    width: 500px;
    padding: 45px 20px;
    border-radius: 6px;
    box-shadow: rgb(187,205,229) 0px 0px 0px 2px;
    margin: 0 auto;
}

input[type='text'], input[type='email'] {
    width: 350px;
    height: 42px;
    font-family: 'Titillium Web', sans-serif;
    margin-bottom: 17px;
    padding-left: 8px;
    border-radius: 6px;
    box-shadow: none !important;
    border: 1px solid #adadad !important;
}

.empty-field-section .paragraph {
    font-weight: 500;
    font-size: 14px;
    color: #DB271A;
}

input[type='text']::placeholder {
    color: #999;
}

input[type='text']:nth-of-type(3) {
    margin-bottom: 6px;
}

input[type='email']::placeholder {
    color: #999;
}

.email-message {
    font-weight: 500;
    font-size: 14px;
    color: #DB271A;
    margin-top: -8px;
}

input[type='submit'] {
    width: 350px;
    height: 42px;
    font-family: 'Titillium Web', sans-serif;    margin-top: 11px;
    color: #fff;
    background-color: #1C5D99;
    border-radius: 6px;
    border-color: #1C5D99;
    box-shadow: none !important;
    border: 1px solid #ddd !important;
}

input[type='submit']:hover {
    background-color: #133f67;
}

.member-message {
    font-family: 'Titillium Web', sans-serif;
    color: #474747 !important;
    margin-top: 10px;
}

.member-message a {
    text-decoration: none;
}

.hr-div {
    width: 350px;
    margin: 0 auto;
    margin-top: 25px;
    border-top: 1px solid #ccc !important;
}

.terms-div {
    width: 350px;
    margin: 0 auto;
    padding-top: 15px;
}

.terms-message {
    font-size: 13px !important;
    font-family: 'Titillium Web', sans-serif;
    color: #474747;
}

.terms-div a {
    text-decoration: none;
}